body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background: #fff;
    color: #000;
}

a:link {
    color: black;
}

a:visited {
    color: red
}

a:hover {
    background-color: #563305;
    color: whitesmoke;
}

a:active {
    color: #F3F
}

.logo {
    font-size: 36px
}

#navlist li {
    display: inline;
    list-style-type: circle;
    padding-right: 20px;
    border-left: 1px solid #000;
    line-height: 1.1em;
    margin: 0 .5em 0 -.5em;
    padding: 0 .5em 0 .5em;
}


.box {
    margin: 10px;
    padding: 10px;
    background-color: #C4842B;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    clear: both;

}

.nav {
    margin: 10px;
    padding: 10px;
    background-color: #E3B981;
    border-width: 1px;
    border-color: black;
    border-style: solid;

}

.left {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #EAD1AE;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float: left;


}

.centre {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #EAD1AE;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float: left;


}

.right {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #EAD1AE;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float: right;



}

.lower_nav {
    margin: 10px;
    padding: 10px;
    background-color: #E3B981;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    clear: both;
}

.legal {
    margin: 10px;
    padding: 10px;
    background-color: #E3B981;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float: none;
    clear: both;

}

.deadnav {
    color: #FFF;
    background-color: #3CF
}